<div class="container">
  <div class="portrait">
    <img class="image-portrait"
      src="../../assets/images/foto-perfil.jpeg"
      alt="Foto de Sebastian">
  </div>
  <div class="root-info">
    <div class="info">
      <p>Si quieres que trabajemos juntos, contactame.</p>
      <p>Correo: <a href="mailto:sebastian.groselj@gmail.com">sebastian.groselj@gmail.com</a></p>
      <p>Telefono: <a href="tel:56975708969">+569 7570 8969</a></p>
      <p>WhatsApp: <a href="https://wa.me/56975708969" target="_blank">+569 7570 8969</a></p>
      <p>!!!! Agregar icono para ir al telefono o whatsapp o correo !!!!</p>
      <p>!!!! Agregar icono para copiar en la papelera !!!!</p>
      <p><a href="https://www.w3schools.com/howto/howto_js_copy_clipboard.asp" target="_blank">!!!! Paste to clipboard !!!!</a></p>
    </div>
  </div>
</div>
