.container {
  height: 200px;

  display: grid;
  grid-template-columns: 1fr 1fr;

  padding-top: 8px;
  padding-bottom: 8px;

  border-bottom: 1px solid gray;
}

.portrait {
  display: flex;
  flex-direction: row;
  justify-content: end;

  .image-portrait {
    border-radius: 48px;
    margin-right: 15px;
    box-shadow: 2px 4px 6px black;
  }
}
.root-info {
  display: flex;
  flex-direction: column;
  justify-content: center;

  .info {
    padding-left: 15px;
    * {
      padding-bottom: 8px;
    }
  }
}
