<div class="container-grid">
  <div class="footer-info">
    <h1>Sebastián Groselj</h1>
    <p>Ingeniero Informático, graduado en DuocUC.</p>
    <p>Listo para tomar su proximo reto en tecnologia.</p>
    <h3>Mis redes:</h3>
    <ul>
      <li>LinkedIn</li>
      <li>GitHub</li>
      <li>Platzi</li>
    </ul>
  </div>
  <div class="footer-links">
    <ul>
      <li><a href="">Resumen</a></li>
      <li><a href="">Proyectos</a></li>
      <li><a href="">Conocimientos</a></li>
      <li><a href="">Escuelas</a></li>
      <li><a href="">Contacto</a></li>
    </ul>
  </div>
  <div class="footer-aboutPage">
    <h2 class="first">Frameworks:</h2>
    <ul>
      <li>Angular v15</li>
    </ul>
    <h2>Herramientas:</h2>
    <ul>
      <li>Visual Studio Code</li>
      <li>GitHub</li>
    </ul>
    <h2>Lenguaje Programación:</h2>
    <ul>
      <li>JavaScript</li>
      <li>TypeScript</li>
      <li>HTML</li>
      <li>SCSS</li>
    </ul>
  </div>
</div>
