.container-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;

  & {
    background-color: rgb(27, 52, 27);
    color: rgb(180, 180, 180);
  }

  div {
    margin: 16px;
  }

  div.footer-info {
    //color: red;

    h1, span, h3, p, li{
      margin-top: 4px;
      line-height: 1.2;
    }

    h3 {
      margin-top: 8px;
    }

    li {
      margin-top: 2px;
    }
  }

  div.footer-links {
    //color: rgb(0, 0, 255);

    li {
      margin-top: 4px;

      a {
        & {
          color: rgb(72, 151, 72);
        }

        &:visited {
          color: rgb(111, 77, 161);
        }

        &:hover {
          color: rgb(88, 146, 164);
        }
      }
    }
  }

  div.footer-aboutPage {
    //color: rgb(0, 255, 60);

    h2 {
      margin-bottom: 8px;
      margin-top: 16px;

      &.first {
        margin-top: 0px;
      }
    }

    li {
      margin-bottom: 4px;
    }
  }
}
