<div class="container container-firstlook">
  <div class="container-portrait">
    <img class="image-portrait"
      src="../../assets/images/foto-perfil.jpeg"
      alt="Foto de Sebastian">
  </div>
  <div class="container-info">
    <h2>Sebastián Groselj Pausic</h2>
    <h3>Ingeniero en Informatica</h3>
    <h4>Gran Santiago, Region Metropolitana de Santiago, Chile</h4>
    <h4>Correo: sebastian.groselj@gmail.com</h4>
    <h4>Telefono: +569 7570 8969</h4>
  </div>
</div>
<div class="other-socialnetworks">
  <div>
    <a href="">
      <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/0/01/LinkedIn_Logo.svg/2560px-LinkedIn_Logo.svg.png"
        alt="Logo LinkedIn">
    </a>
  </div>
  <div>
    <a href="">
      <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/2/29/GitHub_logo_2013.svg/2560px-GitHub_logo_2013.svg.png"
        alt="Logo Github">
    </a>
  </div>
</div>
<div class="aptitudes"></div>
<div class="area-filter">
  <span>Todo</span>
  <span>Escuelas</span>
  <span>Tecnologias</span>
  <span>Programacion</span>
  <span>Diseño</span>
  <span>Otros</span>
</div>
<div class="container container-areas">
  <app-area-card></app-area-card>
  <app-area-card></app-area-card>
  <app-area-card></app-area-card>
  <app-area-card></app-area-card>
  <app-area-card></app-area-card>
  <app-area-card></app-area-card>
  <app-area-card></app-area-card>
  <app-area-card></app-area-card>
  <app-area-card></app-area-card>
  <app-area-card></app-area-card>
  <app-area-card></app-area-card>
  <app-area-card></app-area-card>
  <app-area-card></app-area-card>
  <app-area-card></app-area-card>
  <app-area-card></app-area-card>
  <app-area-card></app-area-card>
  <app-area-card></app-area-card>
  <app-area-card></app-area-card>
  <app-area-card></app-area-card>
  <app-area-card></app-area-card>
  <app-area-card></app-area-card>
  <app-area-card></app-area-card>
  <app-area-card></app-area-card>
  <app-area-card></app-area-card>
  <app-area-card></app-area-card>
  <app-area-card></app-area-card>
  <app-area-card></app-area-card>


</div>
<div class="contact"></div>
