<div class="container container-firstlook">
  <div class="container-portrait">
    <img class="image-portrait"
      src="../../assets/images/foto-perfil.jpeg"
      alt="Foto de Sebastian">
  </div>
  <div class="container-info">
    <h1>Sebastián Groselj Pausic</h1>
    <h2>Ingeniero en Informatica</h2>
    <h4>Gran Santiago, Region Metropolitana de Santiago, Chile</h4>
    <h4>Correo: sebastian.groselj@gmail.com</h4>
    <h4>Telefono: +569 7570 8969</h4>
  </div>
</div>
<div class="other-socialnetworks">
  <div *ngFor="let sn of socialNetworks">
    <a href="{{sn.url}}">
      <img src="{{sn.imgUrl}}"
        alt="{{sn.name}}">
    </a>
  </div>
</div>
<div class="aptitudes"></div>
<div class="area-filter">
  <span>Todo</span>
  <span>Escuelas</span>
  <span>Tecnologias</span>
  <span>Programacion</span>
  <span>Diseño</span>
  <span>Otros</span>
</div>
<div class="container container-areas">
  <app-area-card *ngFor="let ak of areasKnowledge" [areaknowledge]="ak"  ></app-area-card>
</div>
<div class="contact"></div>
