/* You can add global styles to this file, and also import other style files */
@import url('src/styles/reset.scss');
@import url('src/styles/config.scss');

* {
  font-family: sans-serif;

  h1 {
    font-size: xx-large;
  }

  h2 {
    font-size: x-large;
  }

  h3 {
    font-size: larger;
  }

  h4 {
    font-size: large;
  }

  h5 {
    font-size: medium;
  }

  h6 {
    font-size: small;
  }
}
